Flask==2.3.1
requests==2.28.2
# For s3
boto3==1.26.120

# For processing
numpy==1.24.3
rasterio==1.3.6
rioxarray==0.14.1
xarray==2023.4.2
distancerasters==0.3.2
opencv-contrib-python==4.7.0.72
dask==2023.4.0
simplejson==3.19.1
Flask-Cors==3.0.10
flask-sock==0.6.0 
h11==0.14.0 
websockets==11.0.2
# simple-websocket==0.10.0 
# wsproto==1.2.0
# websocket==0.2.1
# websockets==8.1
# websocket-client==1.5.1